p{
    background-color: crimson;

}
p span{
    background-color: red;
}

body{
    margin: 0 auto;
    background-color: coral;

}
div{
    width: 90%;
    background-color: cornflowerblue;
    margin: 0 auto;
}

.photo{
    height: 11vh;
    width: 18vh;
    padding: 5vh;
    background: url(../img/image.jpg);
    background-repeat: no-repeat;
    border: 5px double orchid;
    margin: 2vh;
    float: left;
}


.clear{
    clear: both;
}